
  <h3>Users</h3>
  <div class="table-responsive">
    <table class="table">
      <thead class="bg-primary">
        <th>Name</th>
        <th>Email</th>
        <th class="text-right">Actions</th>
      </thead>
      <tbody class="text-left">
        <% @users.each do |user| %>
        <tr>
          <%= render user %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Add New User', new_user_path, :class => 'btn btn-primary' %>

