<td><%= country.name %></td>
<td class="text-right"><%= link_to 'Edit', edit_country_path(country), :class => 'btn btn-default btn-xs' %> 
	<%= link_to 'Delete', [country], :class => 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>