<div class="container">
  <h3>Countries</h3>
  <div class="table-responsive">
    <table class="table">
      <thead class="bg-primary">
        <th>Name</th>
        <th class="text-right">Actions</th>
      </thead>
      <tbody class="text-left">
        <% @countries.each do |country| %>
        <tr>
          <%= render country %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Add New Country', new_country_path, :class => 'btn btn-primary' %>
</div>
